{% extends 'base.html.twig' %}


{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rapport de Stage{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
    <link rel="icon" href="{{ asset('../assets/styles/images/cvtic-new-2015-b-copie.ico') }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ asset('../assets/styles/cvtic-new-2015-b-copie.ico') }}" type="image/x-icon" />
</head>

{% endblock %}

{% block body %}

<body>
    <header>
        <div class="row">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('../assets/styles/images/cvtic-new-2015-b-copie.png') }}" alt="logo cvtic" class="header-logo">
            </a>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item"><a href="{{ path('lancement_route') }}" class="header-nav-link">Rapport de Lancement</a></li>
                    <li class="header-nav-item"><a href="#" class="header-nav-link">Rapport Final</a></li>
                    <li class="header-nav-item"><a href="#ancre-contact" class="header-nav-link">Contact et Plus</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div role="presentation" class="page-separator" id="page-separator-one"></div>
    <article class="page-article articles">
        <div class="row">
            <div class="column">
                <img src="{{ asset('../assets/styles/images/Logo_3310_Noir.png') }}" alt="image-ordinateur"/>
            </div>
            <div class="column">
                <h1>Rapport de Stage</h1>
                <h2>Informations de base</h2>
                <ul>
                    <li>Nom de l'étudiant: Clément LONSAGNE</li>
                    <li>Nom de l'entreprise: 3310 Street</li>
                    <li>Nom du maître de stage: Vivien Larroche</li>
                    <li> 44 Av. Saint-Surin, 87000 Limoges</li>
                </ul>
            </div>
        </div>
    </article>
    <div role="presentation" class="page-separator" id="page-separator-two"></div>
    <article class="page-article-dark articles">
        <div class="row row-reverse">
            <div class="column">
                <img src="{{ asset('../assets/styles/images/pexels-lex-photography-1109543.jpg') }}" alt="image-travail" class="rounded-image"/>
            </div>
            <div class="column">
                <h2>L'entreprise</h2>
                <p>3310 Street est une entreprise d'environ un dizaine de personnes, qui focalise son identité sur le fait que la majorité des employés soit considérés comme "geek". Ils développent des sites webs et des applications mobiles.</p>
            </div>
        </div>
    </article>
    <div role="presentation" class="page-separator" id="page-separator-three"></div>
    <article class="page-article articles">
        <div class="row">
            <div class="column">
                <img src="{{ asset('../assets/styles/images/pexels-pixabay-459653.jpg') }}" alt="image-bureau" class="rounded-image"/>
            </div>
            <div class="column">
                <h2>Sujet du stage</h2>
                <p>Etant en licence professionnelle applications web, le sujet de mon stage est porté sur le développement d'applications et de sites en tous genres, a la demande de l'entreprise.</p>
                <p>Ce stage a aussi pour but de nous démontrer les potentielles différences avec l'entreprise de notre stage précédent, mais aussi de nous axer plus séverement sur le thème précis de notre licence.</p>
                <p>Dans le cas ici présent, le sujet est axé sur la création ou modification d'un site web et/ou application mobile, du coté développement bien sûr. Il peut bien évidemment y avoir des fonctionnalités avancées, mais aussi de l'hébergement ou du référencement avancé.</p>
            </div>
        </div>
    </article>
    <footer id="ancre-contact">
        <a href="{{ path('contact_route') }}" class="footer-link">Mes différents contacts</a>
    </footer>
</body>
{% endblock %}
