{% extends 'base.html.twig' %}


{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Rapport de Stage{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
        <link rel="icon" href="{{ asset('../assets/styles/images/cvtic-new-2015-b-copie.ico') }}" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ asset('../assets/styles/cvtic-new-2015-b-copie.ico') }}" type="image/x-icon" />
    </head>

{% endblock %}

{% block body %}

    <body>
    <header>
        <div class="row">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('../assets/styles/images/cvtic-new-2015-b-copie.png') }}" alt="logo cvtic" class="header-logo">
            </a>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item"><a href="#" class="header-nav-link">Rapport de Lancement</a></li>
                    <li class="header-nav-item"><a href="#" class="header-nav-link">Rapport Final</a></li>
                    <li class="header-nav-item"><a href="#ancre-contact" class="header-nav-link">Contact et Plus</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div role="presentation" class="page-separator" id="page-separator-one"></div>
    <article class="page-article articles">
        <div class="row">
            <div class="column">
                <a href="https://3310street.com/">
                    <img src="{{ asset('../assets/styles/images/1705678213673.jpg') }}" alt="3310-style" class="rounded-image"/>
                </a>
            </div>
            <div class="column">
                <h2>Présentation du stage</h2>
                <p>Mon stage s’effectue dans une entreprise située à Limoges, et nommée 3310 Street. Elle est constituée d’une dizaine d’employés environ :
                    <ul>
                        <li>deux dirigeants</li>
                        <li>deux développeurs</li>
                        <li>trois graphistes</li>
                        <li>une responsable commerciale</li>
                        <li>une chargée de projet</li>
                    </ul>
                    Comme l’évoque leur site internet, 3310 Street (mettre le lien du site), l’entreprise insiste pour évoquer une identité geek, sympathique, tout en restant parfaitement professionnelle. Il s’occupe de différents projets, qui influents sur la communication d’un client, comme des sites, ou alors de applications mobiles.
                </p>
                <p>Parmi tout cela, je serais personnellement sur un projet en solo, un projet interne a l’entreprise. Il y a également un emploi du temps bien défini : tous les jours, vers 9h30, se déroule le Daily. C’est une courte période ou tout le monde annonce sur quoi il a et va travailler, par rapport au jour précédent. Cela permet d’évoquer l’avancement d’un projet avec tout le monde, efficacement et rapidement.</p>
            </div>
        </div>
    </article>
    <div role="presentation" class="page-separator" id="page-separator-two"></div>
    <article class="page-article-dark articles">
        <div class="row row-reverse">
            <div class="column">
                    <img src="{{ asset('../assets/styles/images/gears-8670280_1280.png') }}" alt="blueprint" class="rounded-image"/>
            </div>
            <div class="column">
                <h2>Projet et besoins à son origine</h2>
                <p>Le projet qui m’a été attribué est le suivant : un CRM, qui dans un premier temps, récupère les données d’Axonaut existantes depuis son API et les enregistre en Base de Données. Par la suite, elles seront affichées dans un dashboard, ou l’on peut y gérer qui est le responsable d’un projet, qui sont les clients, quels sont les prix, les documents associés, à quelle date cela a commencé et terminé, etc.</p>
                <p>Dans un premier temps, le premier besoin est d’avoir un espace, ou l’on doit se connecter, et gérer les utilisateurs. C’est par la suite qu’une base de données pourra être établie. Pour le début, seules les données prioritaires seronts récupérées et affichées, puis dans un second temps, ce seront toutes les données qui seront stockées afin de prévoir un potentiel détachement de Axonaut. </p>
                <p>Également, j’ai déjà et je vais encore avoir l’opportunité de participer à des réunion clients, ce qui me permet d’observer différents aspects, comme la validation de modifications, une validation de projet, etc.</p>
                <p>Le besoin de base de ce projet est basé sur la base de l’api en elle-même. Jusqu’à maintenant et encore aujourd’hui, l’entreprise se sert du logiciel Axonaut, à des fins de gestion, mais si jamais un jour ils devaient s’en séparer, les données devraient être gardées, mais il faudrait aussi un CRM utilisable. Cela donnerait plus d’indépendance à l’entreprise à ce niveau-là, et cela préviendrait une potentielle perte de données.</p>
            </div>
        </div>
    </article>
    <div role="presentation" class="page-separator" id="page-separator-three"></div>
    <article class="page-article articles">
        <div class="row">
            <div class="column">
                <img src="{{ asset('../assets/styles/images/veille.png') }}" alt="image-veille" class="rounded-image"/>
            </div>
            <div class="column">
                <h2>Planification et Veille technologique</h2>
                <p>Après plusieurs recherches, pour des raisons d'optimisation et de gain de temps, 4 solutions se sont montrées plus intéressantes que les autres.</p>
                <p>Ces quatre solutions sont toutes des frameworks, accompagnés d'une "surcouche", qui leur permet d'intégrer les outils nécessaire à un conception efficace d'interface d'administration.</p>
                <ul>
                    <li>Symfony/SonataAdmin</li>
                    <li>Laravel/Voyager</li>
                    <li>Django/DjangoAdmin</li>
                    <li>RubyOnRails/ActiveAdmin</li>
                </ul>
                <p>Tandis que les deux premier utilisent comme base le PHP, les deux autres utilisent le Python. A par cela, ils possèdent quasiment tous les mêmes fonctionnalités, et ont besoin de leurs surcouches pour intégrer de nouvelles fonctionnalité, comme dans notre cas, avec un dashboard, qui servira de CRM.</p>
                <p>De toutes les solutions, celle qui m’a fortement été conseillé par mon maitre de stage et les développeurs, est Symfony avec Sonata. C’est une solution qu’ils utilisent depuis longtemps, et donc avec laquelle ils peuvent réparer des problèmes plus facilement qu’avec les autres, mais aussi m’apprendre plus facilement les bases et autres engrenages.</p>
                <p>Je prévois de passer au moins 1 semaine et demi sur la création du dashboard, et le système de connexion et de gestion de compte, pour ensuite passer a la crétion de la bdd et la liaison a l'api qui prendrais je penses 2 voire 3 semaines, car il faut compter en premier lieu des test afin de vérifier les données récupérées, puis liéer les différentes tables entre elles, pour enfin afficher les informations dans les bonnes section, et aussi aux bonnes personnes.</p>
            </div>
        </div>
    </article>
    <footer id="ancre-contact">
        <a href="{{ path('contact_route') }}" class="footer-link">Mes différents contacts</a>
    </footer>
    </body>
{% endblock %}
