/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    width: 100%;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 50%;
    padding: 1rem;
}

.page-separator {
    height: 100vh;
    background-color: black;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-separator-one {
    background-image: url(../styles/images/Stage-alterne--scaled.jpeg);
}

#page-separator-two {
    background-image: url(../styles/images/photo-gratuite-libre-de-droit-domaine-public58-1560x1052.jpg);
}

#page-separator-three {
    background-image: url(../styles/images/code-1839406_1280.jpg);
}

html {
    scroll-behavior: smooth;
}

/* Communs */
h1 {
    color: #8FBC8F;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    color: black;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* Articles */
.article-date {
    color: dimgrey;
    text-transform: capitalize;
    font-size: 0.75rem;
    text-align: center;
}

.page-article-dark {
    color: white;
    background-color: #8FBC8F;
}

.page-article {
    background-color: silver;
}

.articles {
    min-height: 100vh;
    display: flex;
}

footer {
    background-image: url(../styles/images/18-sites-de-photos-gratuites-libres-de-droit-a-usage-commercial-20.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 1rem;
    margin: 2rem;
    transition: all 0.3s ease-in-out;
}

.footer-link:hover {
    color: #8FBC8F;
    transform: scaleX(1.2) scaleY(1.2);
}

/*header-menu*/
header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header-logo {
    height: 3rem;
}

.header-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-nav-item {
    flex-grow: 1;
}

.header-nav {
    flex-grow: 1;
}

.header-nav-link {
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.header-nav-link:hover {
    color: #8FBC8F;
}

.rounded-image {
    border-radius: 10px;
}