{% extends 'base.html.twig' %}


{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Rapport de Stage{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
        <link rel="icon" href="{{ asset('../assets/styles/images/cvtic-new-2015-b-copie.ico') }}" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ asset('../assets/styles/cvtic-new-2015-b-copie.ico') }}" type="image/x-icon" />
    </head>

{% endblock %}

{% block body %}

    <body>
    <header>
        <div class="row">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('../assets/styles/images/cvtic-new-2015-b-copie.png') }}" alt="logo cvtic" class="header-logo">
            </a>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item"><a href="{{ path('lancement_route') }}" class="header-nav-link">Rapport de Lancement</a></li>
                    <li class="header-nav-item"><a href="#" class="header-nav-link">Rapport Final</a></li>
                    <li class="header-nav-item"><a href="#" class="header-nav-link">Contact et Plus</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div role="presentation" class="page-separator" id="page-separator-one"></div>
    <article class="page-article articles">
        <div class="row">
            <div class="column">
                <a href="https://www.linkedin.com/in/clément-lonsagne-923426264">
                    <img src="{{ asset('../assets/styles/images/LinkedIn_Logo.svg.png') }}" alt="logo-LinkedIn"/>
                </a>
            </div>
            <div class="column">
                <h2>LinkedIn</h2>
                <p>Voici un lien vers mon compte LinkedIn, entièrement dédié au monde professionnel.</p>
            </div>
        </div>
    </article>
    <div role="presentation" class="page-separator" id="page-separator-two"></div>
    <article class="page-article-dark articles">
        <div class="row row-reverse">
            <div class="column">
                <a href="https://www.instagram.com/clementlonsagne">
                    <img src="{{ asset('../assets/styles/images/87390.png') }}" alt="logo-Instagram"/>
                </a>
            </div>
            <div class="column">
                <h2>Instagram</h2>
                <p>Instagram quand a lui, me sert a parler de ce que je fais coté developpement personnel, quand l'envie m'en prend. Il me sert également de compte professionnel.</p>
            </div>
        </div>
    </article>
    </body>
{% endblock %}
